Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -8 -8 2560 1377 318 256

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/hsiao/CU_RTL/AI_on_chip/build/controller_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 343568.009531
cursor 565000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 45
; marker line index
markerPos 104

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/hsiao/CU_RTL/AI_on_chip/build/controller_tb.fsdb"
addSignal -h 15 /controller_tb/controller_1/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope DMA_done
addSignal -h 15 -UNSIGNED -UDEC -holdScope kernel_size[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope row_end[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope col_end[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope filter_times[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope filter_times_now[5:0]
addSignal -h 15 -holdScope tile_done
addGroup "G2"
addSignal -h 15 -UNSIGNED -UDEC /controller_tb/controller_1/cur_col[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope cur_row[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope next_col[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope next_row[5:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope cur_state[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope next_state[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope predict_tmp1[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope predict_tmp2[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope output_SRAM_AB_prdict[11:0]
addSignal -expanded -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A_predict[0:2]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A_predict[0][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A_predict[1][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A_predict[2][6:0]
addSignal -expanded -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[0:7]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[0][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[1][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[2][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[3][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[4][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[5][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[6][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope input_SRAM_A[7][6:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope weight_SRAM_A[0:31]
addSignal -h 15 -UNSIGNED -UDEC -holdScope output_SRAM_AB[0:31]
addSignal -h 15 -holdScope output_SRAM_AA[0:31]
addSignal -h 15 -UNSIGNED -HEX -holdScope PE_done[0:31]
addSignal -h 15 /controller_tb/controller_1/u_PE[0]/PE_i/Psum_out[31:0]
addSignal -h 15 /controller_tb/controller_1/read_input_enable
addSignal -h 15 -holdScope read_psum_enable
addSignal -h 15 -holdScope read_weight_enable
addSignal -h 15 -holdScope tile_done
addSignal -h 15 -holdScope mem_access_col[5:0]
addSignal -h 15 -holdScope mem_access_row[5:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope mem_data_col[5:0]
addSignal -h 15 -holdScope mem_data_row[5:0]
addSignal -h 15 -holdScope input_select[0:2]
addSignal -h 15 -holdScope mem_data_input_select[0:2]
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /controller_tb/controller_1/u_input_SRAM[0]/input_SRAM_i/Data[0:90]
addSignal -expanded -h 15 -UNSIGNED -HEX /controller_tb/controller_1/u_output_SRAM[0]/output_SRAM_i/Data[0:2879]
addSignal -h 15 -UNSIGNED -HEX -holdScope Data[0][31:0]
addSignal -h 15 -UNSIGNED -HEX /controller_tb/controller_1/u_weight_SRAM[0]/weight_SRAM_i/Data[0:127]
addGroup "G4"
addSignal -expanded -h 15 -UNSIGNED -HEX /controller_tb/controller_1/input_SRAM_DO[0:7]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[0][127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[1][127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[2][127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[3][127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[4][127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[5][127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[6][127:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope input_SRAM_DO[7][127:0]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope weight_SRAM_DO[0:31]
addSignal -h 15 -UNSIGNED -HEX -holdScope weight_SRAM_DO[0][287:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope output_SRAM_DO[0:31]
addGroup "G5"
addSignal -expanded -h 15 -UNSIGNED -UDEC /controller_tb/controller_1/u_PE[0]/PE_i/Weight[0:8]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[0][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[1][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[2][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[3][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[4][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[5][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[6][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[7][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Weight[8][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Pre_psum[31:0]
addSignal -expanded -h 15 -UNSIGNED -UDEC -holdScope Input[0:8]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[0][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[1][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[2][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[3][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[4][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[5][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[6][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[7][31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Input[8][31:0]
addSignal -h 15 -UNSIGNED -BIN /controller_tb/controller_1/mem_data_col[5:0]
addSignal -h 15 /controller_tb/controller_1/u_PE[0]/PE_i/PE_done
addSignal -h 15 -holdScope add_done
addSignal -h 15 -UNSIGNED -UDEC -holdScope mult_addr[11:0]
addSignal -h 15 -holdScope mult_done
addSignal -h 15 -holdScope Psum_out[31:0]
addSignal -expanded -h 15 -holdScope psum_after_mul[0:8]
addSignal -h 15 -holdScope psum_after_mul[0][31:0]
addSignal -h 15 -holdScope psum_after_mul[1][31:0]
addSignal -h 15 -holdScope psum_after_mul[2][31:0]
addSignal -h 15 -holdScope psum_after_mul[3][31:0]
addSignal -h 15 -holdScope psum_after_mul[4][31:0]
addSignal -h 15 -holdScope psum_after_mul[5][31:0]
addSignal -h 15 -holdScope psum_after_mul[6][31:0]
addSignal -h 15 -holdScope psum_after_mul[7][31:0]
addSignal -h 15 -holdScope psum_after_mul[8][31:0]
addSignal -h 15 -2COMP -UDEC -holdScope psum_after_add[31:0]
addGroup "G6"
addGroup "G7"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/hsiao/CU_RTL/AI_on_chip/build/controller_tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/controller_tb"
"/controller_tb/controller_1"
"/controller_tb/controller_1/u_PE[0]"
"/controller_tb/controller_1/u_PE[0]/PE_i"

SCOPE_LIST_BEGIN
"/controller_tb"
"/controller_tb/controller_1"
"/controller_tb/controller_1/genblk3[0]"
"/controller_tb/controller_1/genblk3[0]/input_SRAM_i"
"/controller_tb/controller_1/u_input_SRAM[0]/input_SRAM_i"
"/controller_tb/controller_1/u_input_SRAM[0]"
"/controller_tb/controller_1/u_output_SRAM[0]/output_SRAM_i"
"/controller_tb/controller_1/u_output_SRAM[0]"
"/controller_tb/controller_1/u_weight_SRAM[0]/weight_SRAM_i"
"/controller_tb/controller_1/u_weight_SRAM[0]"
"/controller_tb/controller_1/u_PE[0]"
"/controller_tb/controller_1/u_PE[0]/PE_i"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


